/* sidebar - #0f1629 */
/* background - #f9fbfc */
/* placeholder bg - #f9fbfc */
/* button/logo - #5046e8 */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    min-width: 100%;
    display: grid;
    grid-template-rows: 50px 1fr 35px;
}
.skip-link {
    position: absolute;
    top: -40px;
    left: 0;
    background: #000;
    color: #fff;
    padding: 8px;
    text-decoration: none;
    z-index: 100;
}

.skip-link:focus {
    top: 0;
}

header {
    display: flex;
    align-items: center;
    background-color: #f9fbfc;
    box-shadow: 0px 0.5px 2px rgba(0, 0, 0, 0.3);
    z-index: 10;
}
header > button {
    display: grid;
    place-content: center;
    background-color: #f9fbfc;
    border: none;
    height: 25px;
    width: 25px;
}
header > button:hover {
     border: 2px solid rgba(80, 70, 232, 0.8);
     border-radius: 5px;
     background-color: rgba(208, 204, 204, 0.3);
     cursor: pointer;
}
    #menu-toggle {
    margin: 0 0.5rem;
    color: black;
} 

nav {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

ul {
    width: 100%;
    display: flex;
}
li {
    display: grid;
    place-content: center;
    width: 35px;
    list-style: none;
}

#logo-container{
    width: 125px;
    margin: 0 auto 0 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#logo {
    height: 25px;
    width: 25px;
    border-radius: 5px;
    background-color: #5046e8;
    font-size: 12px;
    font-weight: 900;
    color: white;
    place-content: center;
    text-align: center;
}

#name {
    display: none;
    position: absolute;
}

.user-info {
    margin-right: 1rem;
}
.profile-icon {
    display: grid;
    place-content: center;
    height: 22px;
    width: 22px;
    background-color: rgb(218, 214, 214);
    border-radius: 50%;
}
.user-text {
    position: absolute;
    display: none;
}

.user-name {
    font-size: 12px;
    font-weight: 500;
}
.user-title {
    font-size: 10px;
    color: rgb(156, 152, 152);
}


.main-wrapper {
    display: grid;
    grid-template-columns: 1fr;
}

#sidebar {
        display: none;
    }b

main {
    background-color: #eef0f0;
}
#main-content {
    display: flex;
    flex-direction: column;
}

.dashboard-links {
    display: flex;
    justify-content: flex-start;
    margin: 1.3rem 0 0 1rem;
}
.dashboard-container {
    color: rgb(156, 152, 152);
    width: fit-content;

}
.current {
    color: black;
    font-weight: 600;
}
.dashboard-container > span {
    margin: 0 0.3rem;
    width: 75px;
    font-size: 0.9rem;
}

#home {
    margin-left: 0.5rem;
}
.dashboard-header {
    margin: 0 0 1.5rem 1.3rem;
}
.dashboard-header > h2 {
    font-weight: 900;
     margin: 1.5rem 0 0.7rem 0;
}

.dashboard-header > p {
    margin: 0 0 0.7rem 0;
    color: rgb(118, 115, 115);
}
.export-btn {
    height: 40px;
    width: 90px;
    background-color: #f9fbfc;
    border: 1px solid rgba(177, 176, 176,0.4);
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 600;
}
.report-btn {
    height: 40px;
    width: 175px;
    margin-left: 5px;
    background-color: #f9fbfc;
    border: 1px solid rgba(177, 176, 176,0.4);
    border-radius: 10px;
    background-color: #5046e8;
    color: white;
    font-size: 1rem;
    font-weight: 600;
}

.data-container {
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.display {
    display: flex;
    height: 160px;
    width: 400px;
    border-radius: 20px;
    margin: 1rem 1rem;
    background-color: #f9fbfc;
    border: 1px solid rgba(177, 176, 176,0.4);
}
.left {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1.5rem;
    padding-bottom: 1.75rem;
}
.data-image {
    margin-top: 1.5rem;
    display: grid;
    place-content: center;
    height:40px;
    width: 40px;
    background-color: #eef0f0;
    border-radius: 10px;
}
.title {
    margin-top: 1rem;
    font-size: 0.8rem;
    font-weight: 600;
    color: #767373;
}
.number {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 0.5rem;
}
.right {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: flex-end;
}
.right > span {
    display: grid;
    place-content: center;
    height: 20px;
    width: 55px;
    font-size: 12px;
    font-weight: 600;
    color: #087654;
    margin: 1.5rem 1.5rem 0 0;
    background-color: #d2fae6;
    border-radius: 10px;
}
#negative {
    color: #c41339;
    background-color: #ffe4e6;
}
footer {
    background-color: #f9fbfc;
    box-shadow: 0px -0.5px 2px rgba(0, 0, 0, 0.3);
}


@media  (min-width: 1225px) {

    #menu-toggle {
        display: none;
    }
    
    #sidebar {
        display: block;
        background-color: #0f1629;
}
 

    .main-wrapper {
        display: grid;
        grid-template-columns: 225px 1fr;
}

    #name {
        display: inline;
        position: static;
    }
   
}